<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="FinalAssignment_EjbPU" transaction-type="JTA">
    <jta-data-source>jdbc/FinalAssignment</jta-data-source>
    <class>entities.Admin</class>
    <class>entities.Customers</class>
    <class>entities.Reservation</class>
    <class>entities.RoomStatus</class>
    <class>entities.RoomTypes</class>
    <class>entities.Rooms</class>
    <class>entities.Transactions</class>
    <exclude-unlisted-classes>true</exclude-unlisted-classes>
    <properties/>
  </persistence-unit>
</persistence>
